@model InetMarket.Models.FilterAddititonListView

@{
    ViewData["Title"] = "Список доп. фильтров";
}

<h2>Список</h2>

<p>
    <a asp-action="Create">Добавить</a>
</p>

<form action="/Filters/CategorySearch" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" id="form0" method="get" data-ajax-method="get">
    <div class="form-inline">
        <label class="control-label">Фильтры: </label>
        @Html.DropDownList("filterId", Model.Filters as SelectList,
                    htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

<div id="results"></div>